body{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    width: 100vw;
    height: 100vh;
    font-family: 'Sofia Sans Condensed', sans-serif;
    background-color: #F7F5F4;
}
.navbar{
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    height:60px;
    
}
.mini_green{
    background-color: #004724;
    display: flex;
    float: right;
    padding: 0;
    width: fit-content;
    margin-right: 0;
    height:60px;
    align-items: center;
    justify-content: center;
    padding-left: 35px;
    padding-right: 10px;
}
#mini_logo{
    width:150px;
    margin-left: 20px;
    margin-top: 10px;
}
.icon{
    width: 30px;
    fill: white;
    padding-right: 1.5rem ;
}
.big_green{
    background-color: #004724;
    width: 100%;
    height: 30%;
    text-align: center;
    padding-top: 20px;

}
.big_green img{
    height: 100px;
    width: 100px;
    margin-bottom: 15px;
}
.rubrique{
   list-style: none;
   margin: 0;
   padding: 0;
  
}
.rubrique li{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    padding-left: 3rem;
}
.rubrique .active{
    background-color: #F7F5F4;
}
.rubrique li:hover{
    background-color:#F7F5F4;
    cursor: pointer;
}
.class_svg {
    width: 20px;
    height: 20px;
    fill: black;
    margin-right:1rem ;  
}
.class_svg1 {
    width: 18px;
    height: 18px;
    fill: black;
    margin-right:1rem ;
}
.rubrique li a{
    text-decoration: none;
    color: black;
}
.nom_poste{
    color: white;
    margin-bottom: 0;
    margin: 0;
}
#P1{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}
#P2{
    font-size: 14px;
    font-style: normal;
}
.menu{
    width: 100%;
    height: 100%;
    background-color: #88C8AA;
    justify-content: center;
    align-items: center;
}
.burger{
    display: none;
}
.burger .bar{
    display: none;
} 

@media screen and (max-width : 749px){
    .menu_vertical{
        display: flex;
        position: fixed;
        top: 70px;
        left: 110%;
        justify-content: center;
        align-items: center;
    }
    .big_green{
        justify-content: center;
        align-items: center;
        display: none;
    }
    .title{
        display: none;
    }
    .rubrique li{
        padding-left: 0px;
    }
    .icon_menu_ver{
        margin: auto;
    }
    .class_svg {
        margin-right:0;
    }
    .class_svg1 {
        margin-right:0;
    }
    .burger{
        background-color: #88C8AA;
        width: 35px;
        height: 35px;
        cursor: pointer;
        position: relative;
        display: block;
        border: none;
        margin: auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .burger .bar{
        display: block;
        width: 22px;
        height: 3px;
        background: black;
    }
    .burger .bar::before, .burger .bar::after{
        display: block;
        content: "";
        width: 22px;
        height: 3px;
        background: black;
        position: absolute;
    }
    .burger .bar::before{
        transform: translateY(-8px);
    }
    .burger .bar::after{
        transform: translateY(8px);
    }
    .show-nav .menu_vertical{
        opacity: 1;
        width: 100%;
        left: 0;
        z-index: 2;
    }
    .show-nav .menu .menu_vertical li:hover {
        transform: scale(1.1);
        text-decoration: none;
    }
    .show-nav .burger .bar{
        width: 0;
    }
    .show-nav .burger .bar::before, .burger .bar::after{
        transition: all 0.2s ease-out;
    }
    .show-nav .burger .bar::before{
        transform: rotate(-45deg);
    }
    .show-nav .burger .bar::after{
        transform: rotate(45deg);
    }

}

